{% extends 'newwebpage.html' %}
{% block body %}

<div class="container">
<h3>{{ board.board_name }}</h3>
<table class="table">
  <p>the board {{board}} </p>
{% for thread in board.thread_set.all %}

  <tr>
    <td><a href='{{board.id}}/{{thread.id}}'>{{thread.title}}</a></td>
    <td>{{thread.post_by}}</td>
    <td>{{thread.post_on}}</td>
  </tr>

{% endfor %}
</table>
  {% if request.user.is_superuser or  request.user.is_staff %}
<form method="POST" action="{{board.id}}/post_thread">
  {% csrf_token %}
  <input type="text" name="title">Thread Title<br>
  <input type="checkbox" value="False" name="is_locked">Is Locked?<br>
  <input type="hidden" name="post_by" value="{{user.username}}">
  <input type="hidden" name="board_id" value="{{board.id}}">
  <button type="submit">Add New Board</button>
</form>
</div>
{% endif %}
{% endblock %}
