{% extends 'newwebpage.html' %}

{% block title %}

{% if user.is_authenticated %}

<li><a href="{% url 'bulletin:profile' %}">Profile</a></li>

{% else %}
<li><a href="{% url 'bulletin:login' %}">Login</a></li>

{% endif %}


{% endblock %}

{% block body %}
<div class="container">
<h3>Bulletin Board</h3>
<table class="table">
{% for board in board_list %}

  <tr>
    <td><a href='board/{{ board.id }}'>{{ board.board_name }}</a></td>
    <td>{{ board.pos }}</td>
  </tr>

{% endfor %}
</table>
{% if request.user.is_superuser %}
<form method="POST" action="post_board">
  {% csrf_token %}
  <input type="text" name="board_name">
  <input type="number" name="pos">
  <input type="hidden" name="creator" value="{{user.username}}">
  <button type="submit">Add New Board</button>
</form>
</div>
{% endif %}
</div>
{% endblock %}



