{% extends 'newwebpage.html' %}

{% block body %}
<div class="container">
    <h1> User Login </h1>
    <h2>login</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">login</button>
        </form>
    <br>
    <p><strong> -- OR -- </strong></p>
    <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google+</a><br>
    <p><strong> -- OR -- </strong></p>
    <a href="{% url 'social:begin' 'github' %}">Login with Github</a><br>
</div>
{% endblock %}