{% extends 'newwebpage.html' %}

{% block body %}
<div class="container">
    <h2>User Profile</h2>
    <p>Username: {{ user }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <a class="btn btn-primary" href="{% url 'bulletin:edit' %}">Update Profile</a>
    <a class="btn btn-primary" href="{% url 'bulletin:change' %}">Change Password</a>
</div>
{% endblock %}