{% extends 'newwebpage.html' %}

{% block body %}
<div class="container">
    <form method ="POST" action="{% url 'bulletin:profile' %}">
        {% csrf_token %}
        {{ form.as_p }}
    <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}