{% extends 'newwebpage.html' %}

{% block body %}
<div class="container">
    <h1>Register</h1>
    <form method="POST" action="{% url 'bulletin:register' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
</div>
{% endblock %}
