{% extends 'newwebpage.html' %}
{% block body %}

<div class="container">
<h3>{{ thread.title }}</h3>
<table class="table">
{% for post in thread.post_set.all %}

  <tr>
    <td><a href='{{board.id}}/{{thread.id}}/{{post.id}}'>{{post.message}}</a></td>
    <td><a href='/user/{{user.id}}'>{{post.p_post_by}}</a></td>
    <td>{{post.p_post_on}}</td>
  </tr>
{% endfor %}

{% if user.is_authenticated %}
</table>
  <form method="POST" action='{{thread.id}}/post_reply'>
    {% csrf_token %}
    <textarea name="post_message" rows="5" cols="50" wrap="soft"></textarea>
    <input type="hidden" name="thread_id" value="{{thread.id}}">
    <input type="hidden" name="user_name" value="{{user.username}}">
    <button type="submit">submit post</button>
  </form>
</div>
{% else %}
<p><b>Log in to post in this thread</b></p>
{% endif %}
{% endblock %}
