<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!DOCTYPE html>

<html>

    <head>

        <title></title>
        <meta charset="utf-8">

    </head>
<body class="body" style="background-color:#ADD8E6">
<div class="container">

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Practical Bulletin Board</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="{% url 'bulletin:home' %}">Home</a></li>
                {% if user.is_authenticated %}
                <li class="active"><a href="{% url 'bulletin:profile' %}">Profile</a></li>
                <li class="active"><a href="{% url 'bulletin:logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'bulletin:login' %}">Login</a></li>
                 <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'bulletin:register' %}" method="POST">Register</a></li>
                 </ul>
                {% endif %}
          </div>
        </div>
    {% block body %}
    <h1>base</h1>

    {% endblock %}

</body>
</html>
